.elementor-6441 .elementor-element.elementor-element-72ef22c {
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 15px 15px 15px 15px;
}
.elementor-bc-flex-widget
    .elementor-6441
    .elementor-element.elementor-element-618bc93.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-6441
    .elementor-element.elementor-element-618bc93.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-6441 .elementor-element.elementor-element-618bc93 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-6441 .elementor-element.elementor-element-618bc93 > .elementor-element-populated > .elementor-widget-wrap {
    padding: 20px 20px 20px 20px;
}
.elementor-6441 .elementor-element.elementor-element-896714b .aux-modern-heading-primary {
    font-family: "Rubik", roboto;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #a80000;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-6441 .elementor-element.elementor-element-896714b .aux-modern-heading-divider {
    height: 0px;
    width: 0px;
    margin: 0px 0px 0px 0px;
    background-color: var(--e-global-color-secondary);
}
.elementor-6441 .elementor-element.elementor-element-896714b > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-6441 .elementor-element.elementor-element-896714b {
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.elementor-6441 .elementor-element.elementor-element-f35f6b0 {
    text-align: left;
}
.elementor-6441 .elementor-element.elementor-element-f35f6b0 .elementor-heading-title {
    color: #000000;
    font-family: "Barlow", roboto;
    font-size: 45px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: 0px;
}
.elementor-6441 .elementor-element.elementor-element-f35f6b0 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-6441 .elementor-element.elementor-element-dab3bea .elementor-heading-title {
    color: var(--e-global-color-accent);
    font-family: "Rubik", roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7em;
}
.elementor-6441 .elementor-element.elementor-element-1a6d30c .aux-modern-heading-primary {
    font-family: "Rubik", roboto;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #a80000;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-6441 .elementor-element.elementor-element-1a6d30c .aux-modern-heading-divider {
    height: 0px;
    width: 0px;
    margin: 0px 0px 0px 0px;
    background-color: var(--e-global-color-secondary);
}
.elementor-6441 .elementor-element.elementor-element-1a6d30c > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-6441 .elementor-element.elementor-element-1a6d30c {
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.elementor-6441 .elementor-element.elementor-element-53dd37b .bdt-fancy-list ul.custom-list-group {
    grid-template-columns: repeat(1, 1fr);
}
.elementor-6441 .elementor-element.elementor-element-53dd37b .bdt-fancy-list .flex-wrap {
    background-color: #02010100;
    min-height: 30px;
}
.elementor-6441 .elementor-element.elementor-element-53dd37b .bdt-fancy-list .custom-list-group li .flex-wrap {
    border-radius: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px;
}
.elementor-6441 .elementor-element.elementor-element-53dd37b .bdt-fancy-list .list-text .bdt-list-title {
    color: var(--e-global-color-accent);
}
.elementor-6441 .elementor-element.elementor-element-53dd37b .bdt-fancy-list .list-text .bdt-list-title {
    font-family: "Rubik", roboto;
    font-size: 15px;
    line-height: 25px;
}
.elementor-6441 .elementor-element.elementor-element-53dd37b .bdt-fancy-list .list-text-des {
    margin: 0px 0px 0px 0px;
}
.elementor-6441 .elementor-element.elementor-element-53dd37b .bdt-fancy-list .list-icon {
    color: var(--e-global-color-4507cf7);
    border-radius: 0px 0px 0px 0px;
}
.elementor-6441 .elementor-element.elementor-element-53dd37b .bdt-fancy-list .list-icon svg {
    fill: var(--e-global-color-4507cf7);
}
.elementor-6441 .elementor-element.elementor-element-53dd37b .bdt-fancy-list .list-icon {
    background: #ffffff00;
}
.elementor-6441 .elementor-element.elementor-element-53dd37b .bdt-fancy-list .custom-list-group .list-icon {
    padding: 0px 0px 0px 0px;
    font-size: 16px;
}
.elementor-6441 .elementor-element.elementor-element-e22ed7d .aux-modern-heading-primary {
    font-family: "Rubik", roboto;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #a80000;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-6441 .elementor-element.elementor-element-e22ed7d .aux-modern-heading-divider {
    height: 0px;
    width: 0px;
    margin: 0px 0px 0px 0px;
    background-color: var(--e-global-color-secondary);
}
.elementor-6441 .elementor-element.elementor-element-e22ed7d > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-6441 .elementor-element.elementor-element-e22ed7d {
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.elementor-6441 .elementor-element.elementor-element-a32c34a .elementor-heading-title {
    color: var(--e-global-color-accent);
    font-family: "Rubik", roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7em;
}
.elementor-6441 .elementor-element.elementor-element-4673b4a .elementor-heading-title {
    color: var(--e-global-color-accent);
    font-family: "Rubik", roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7em;
}
.elementor-6441 .elementor-element.elementor-element-7d0d765 .aux-modern-button-wrapper {
    text-align: left;
}
.elementor-6441
    .elementor-element.elementor-element-7d0d765
    .aux-modern-button.aux-modern-button-outline
    .aux-overlay:before,
.elementor-6441 .elementor-element.elementor-element-7d0d765 .aux-modern-button .aux-overlay:before {
    background-color: transparent;
    background-image: linear-gradient(0deg, var(--e-global-color-text) 0%, var(--e-global-color-4507cf7) 100%);
}
.elementor-6441 .elementor-element.elementor-element-7d0d765 .aux-overlay:before,
.elementor-6441 .elementor-element.elementor-element-7d0d765 .aux-overlay:after {
    box-shadow: 0px 20px 19px 0px rgba(152.1295166015625, 53.00910701580426, 53.00910701580426, 0.12156862745098039);
    border-radius: 5px 5px 5px 5px;
}
.elementor-6441 .elementor-element.elementor-element-7d0d765 .aux-modern-button {
    padding: 16px 35px 14px 35px;
}
.elementor-6441
    .elementor-element.elementor-element-7d0d765
    .aux-modern-button.aux-modern-button-outline
    .aux-overlay:after,
.elementor-6441 .elementor-element.elementor-element-7d0d765 .aux-modern-button .aux-overlay:after {
    background-color: var(--e-global-color-primary);
}
.elementor-6441 .elementor-element.elementor-element-7d0d765 .aux-text {
    font-family: "Rubik", roboto;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--e-global-color-secondary);
}
.elementor-6441 .elementor-element.elementor-element-7d0d765 .aux-modern-button:hover .aux-text {
    color: var(--e-global-color-secondary);
}
.elementor-6441 .elementor-element.elementor-element-7d0d765 .aux-icon {
    font-size: 0px;
}
.elementor-6441 .elementor-element.elementor-element-7d0d765 .aux-modern-button:hover .aux-icon {
    font-size: 15px;
}
.elementor-6441 .elementor-element.elementor-element-7d0d765 > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-6441 .elementor-element.elementor-element-bf7374f > .elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var(--e-global-color-accent);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-6441
    .elementor-element.elementor-element-bf7374f
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6441 .elementor-element.elementor-element-66aeb51 {
    --spacer-size: 50px;
}
.elementor-widget .tippy-tooltip .tippy-content {
    text-align: center;
}
@media (min-width: 768px) {
    .elementor-6441 .elementor-element.elementor-element-618bc93 {
        width: 50.383%;
    }
    .elementor-6441 .elementor-element.elementor-element-bf7374f {
        width: 49.458%;
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-6441 .elementor-element.elementor-element-618bc93 {
        width: 100%;
    }
    .elementor-6441 .elementor-element.elementor-element-bf7374f {
        width: 100%;
    }
}
@media (max-width: 1366px) {
    .elementor-6441 .elementor-element.elementor-element-72ef22c {
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-6441 .elementor-element.elementor-element-896714b .aux-modern-heading-primary {
        font-size: 15px;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        border-radius: 0px 0px 0px 0px;
        max-width: 100%;
    }
    .elementor-6441 .elementor-element.elementor-element-896714b .aux-widget-modern-heading .aux-widget-inner {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-6441 .elementor-element.elementor-element-896714b > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-6441 .elementor-element.elementor-element-f35f6b0 {
        text-align: left;
    }
    .elementor-6441 .elementor-element.elementor-element-f35f6b0 .elementor-heading-title {
        font-size: 35px;
    }
    .elementor-6441 .elementor-element.elementor-element-dab3bea .elementor-heading-title {
        font-size: 14px;
    }
    .elementor-6441 .elementor-element.elementor-element-dab3bea > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-6441 .elementor-element.elementor-element-1a6d30c .aux-modern-heading-primary {
        font-size: 15px;
        color: var(--e-global-color-accent);
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        border-radius: 0px 0px 0px 0px;
        max-width: 100%;
    }
    .elementor-6441 .elementor-element.elementor-element-1a6d30c .aux-widget-modern-heading .aux-widget-inner {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-6441 .elementor-element.elementor-element-1a6d30c > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-6441 .elementor-element.elementor-element-53dd37b .bdt-fancy-list .list-text .bdt-list-title {
        font-size: 14px;
        line-height: 1.6em;
    }
    .elementor-6441 .elementor-element.elementor-element-53dd37b .bdt-fancy-list .list-text-des {
        margin: 10px 0px 0px 0px;
    }
    .elementor-6441 .elementor-element.elementor-element-e22ed7d .aux-modern-heading-primary {
        font-size: 15px;
        color: var(--e-global-color-accent);
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        border-radius: 0px 0px 0px 0px;
        max-width: 100%;
    }
    .elementor-6441 .elementor-element.elementor-element-e22ed7d .aux-widget-modern-heading .aux-widget-inner {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-6441 .elementor-element.elementor-element-e22ed7d > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-6441 .elementor-element.elementor-element-a32c34a .elementor-heading-title {
        font-size: 14px;
    }
    .elementor-6441 .elementor-element.elementor-element-a32c34a > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-6441 .elementor-element.elementor-element-4673b4a .elementor-heading-title {
        font-size: 14px;
    }
    .elementor-6441 .elementor-element.elementor-element-4673b4a > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}
@media (max-width: 1024px) {
    .elementor-6441 .elementor-element.elementor-element-618bc93 > .elementor-element-populated {
        margin: 50px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-6441 .elementor-element.elementor-element-896714b .aux-modern-heading-primary {
        font-size: 18px;
    }
    .elementor-6441 .elementor-element.elementor-element-f35f6b0 {
        text-align: left;
    }
    .elementor-6441 .elementor-element.elementor-element-f35f6b0 .elementor-heading-title {
        font-size: 35px;
    }
    .elementor-6441 .elementor-element.elementor-element-1a6d30c .aux-modern-heading-primary {
        font-size: 18px;
    }
    .elementor-6441 .elementor-element.elementor-element-53dd37b .bdt-fancy-list ul.custom-list-group {
        grid-template-columns: repeat(1, 1fr);
    }
    .elementor-6441 .elementor-element.elementor-element-e22ed7d .aux-modern-heading-primary {
        font-size: 18px;
    }
    .elementor-6441 .elementor-element.elementor-element-7d0d765 .aux-modern-button {
        padding: 10px 20px 10px 20px;
    }
    .elementor-6441 .elementor-element.elementor-element-bf7374f > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-6441 .elementor-element.elementor-element-66aeb51 {
        --spacer-size: 650px;
    }
}
@media (max-width: 767px) {
    .elementor-6441 .elementor-element.elementor-element-72ef22c {
        margin-top: 0px;
        margin-bottom: 50px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-6441 .elementor-element.elementor-element-618bc93 > .elementor-element-populated {
        margin: 20px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-6441
        .elementor-element.elementor-element-618bc93
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 20px 0px 20px 0px;
    }
    .elementor-6441 .elementor-element.elementor-element-896714b .aux-widget-inner > * {
        text-align: center;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .elementor-6441 .elementor-element.elementor-element-896714b .aux-modern-heading-primary {
        font-size: 12px;
    }
    .elementor-6441 .elementor-element.elementor-element-f35f6b0 {
        text-align: center;
    }
    .elementor-6441 .elementor-element.elementor-element-f35f6b0 .elementor-heading-title {
        font-size: 24px;
        letter-spacing: 0px;
    }
    .elementor-6441 .elementor-element.elementor-element-dab3bea {
        text-align: center;
    }
    .elementor-6441 .elementor-element.elementor-element-dab3bea .elementor-heading-title {
        font-size: 13px;
    }
    .elementor-6441 .elementor-element.elementor-element-1a6d30c .aux-widget-inner > * {
        text-align: center;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .elementor-6441 .elementor-element.elementor-element-1a6d30c .aux-modern-heading-primary {
        font-size: 13px;
    }
    .elementor-6441 .elementor-element.elementor-element-53dd37b .bdt-fancy-list ul.custom-list-group {
        grid-template-columns: repeat(1, 1fr);
    }
    .elementor-6441 .elementor-element.elementor-element-53dd37b .bdt-fancy-list .list-text .bdt-list-title {
        font-size: 13px;
    }
    .elementor-6441 .elementor-element.elementor-element-e22ed7d .aux-widget-inner > * {
        text-align: center;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .elementor-6441 .elementor-element.elementor-element-e22ed7d .aux-modern-heading-primary {
        font-size: 14px;
    }
    .elementor-6441 .elementor-element.elementor-element-a32c34a {
        text-align: center;
    }
    .elementor-6441 .elementor-element.elementor-element-4673b4a {
        text-align: center;
    }
    .elementor-6441 .elementor-element.elementor-element-7d0d765 .aux-modern-button-wrapper {
        text-align: center;
    }
    .elementor-6441 .elementor-element.elementor-element-7d0d765 .aux-modern-button {
        padding: 13px 38px 11px 35px;
    }
    .elementor-6441 .elementor-element.elementor-element-7d0d765 .aux-text {
        font-size: 13px;
    }
    .elementor-6441 .elementor-element.elementor-element-66aeb51 {
        --spacer-size: 250px;
    }
} /* Start custom CSS for aux_modern_heading, class: .elementor-element-896714b */
.elementor-6441 .elementor-element.elementor-element-896714b .aux-head-highlight {
    display: inline-block;
}
.elementor-6441 .elementor-element.elementor-element-896714b .aux-modern-heading-divider::before {
    content: "";
    width: 25px;
    height: 5px;
    background: transparent
        linear-gradient(180deg, var(--e-global-color-5fce40d5) 0%, var(--e-global-color-19e5eb8) 100%);
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    left: 0;
}
.elementor-6441 .elementor-element.elementor-element-896714b .aux-modern-heading-divider {
    margin-left: 30px;
    border-radius: 20px;
} /* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-1a6d30c */
.elementor-6441 .elementor-element.elementor-element-1a6d30c .aux-head-highlight {
    display: inline-block;
}
.elementor-6441 .elementor-element.elementor-element-1a6d30c .aux-modern-heading-divider::before {
    content: "";
    width: 25px;
    height: 5px;
    background: transparent
        linear-gradient(180deg, var(--e-global-color-5fce40d5) 0%, var(--e-global-color-19e5eb8) 100%);
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    left: 0;
}
.elementor-6441 .elementor-element.elementor-element-1a6d30c .aux-modern-heading-divider {
    margin-left: 30px;
    border-radius: 20px;
} /* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-e22ed7d */
.elementor-6441 .elementor-element.elementor-element-e22ed7d .aux-head-highlight {
    display: inline-block;
}
.elementor-6441 .elementor-element.elementor-element-e22ed7d .aux-modern-heading-divider::before {
    content: "";
    width: 25px;
    height: 5px;
    background: transparent
        linear-gradient(180deg, var(--e-global-color-5fce40d5) 0%, var(--e-global-color-19e5eb8) 100%);
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    left: 0;
}
.elementor-6441 .elementor-element.elementor-element-e22ed7d .aux-modern-heading-divider {
    margin-left: 30px;
    border-radius: 20px;
} /* End custom CSS */
